<div class="mat-elevation-z8">
  <!--  -->
  <button  mat-raised-button color="primary" (click)="add()">Add</button>
  <table class="">
    <thead>
    <th>Movie Name</th>
    <th>Movie Description</th>
    <th>Movie Poster</th>
    <th>Action</th>
  </thead>
  <tbody *ngFor="let data of dataSource">
    <tr>
      <td>{{data.movie_name}}</td>
      <td>{{data.movie_description}}</td>
      <td><img mat-card-image [src]="data.images" alt="Photo of Poster" width="100" height="100"/></td>
      <td>
        <button mat-raised-button color="primary" (click)="edit(data.id)"><mat-icon>launch</mat-icon></button>
        <button mat-raised-button color="warn"  (click)="deleten(data.id)"><mat-icon>restore_from_trash</mat-icon></button>
      </td>
    </tr>
  </tbody>
  </table>
</div>
